[2021-10-27 20:35] amans2k opened #518 "Bloom Popup"
### Problem Description
There is no action hook after the popup form is submitted.

### Reference Code

http://imgwxl.com/a/2021-10-23-03:10:33.png
http://imgwxl.com/a/2021-10-23-03:08:16.png

### Why Needed?

Need to integrate it with Autonami CRM and Marketing Automation engine product.
https://buildwoofunnels.com/wordpress-marketing-automation-autonami/

[2021-10-28 20:05] gonzalesc opened #519 "How add a custom field to Specialty section or FullWidth Section"
To add custom fields to modules, I use the "et_builder_get_parent_modules" hook and it works.
It works to sections, rows, and modules/widgets.

But those custom fields don't appear when I want to build a specialty or full-width section, do you know the correct hook?

[2021-10-31 21:17] janekkpl opened #520 "npx create-divi-extension my-extension"
### Problem Description

### Steps To Reproduce
1.

### Screenshot and/or gif

[2021-10-31 21:17] #520 closed

[2021-11-03 13:41] DavideDelNista commented on #348
I mean Visual builder :-)

[2021-11-04 00:01] lanresmith commented on #506
Hi @markospacetech could you pls post some portion of your code so that we might better grab where the issue might be?

[2021-11-04 02:31] leahfkd commented on #291
Hello, I have the same problem, but mine is working fine when I do yarn start. But if I use the yarn build/zip I am getting this message `function (t){return s.a.createElement(p.a,g({rawContentProcesser:_.a.replaceCodeContentEntities},e.props))}`.

From checking the script/source files is still pointing at localhost:3000, how do I update it to direct it from build directory files instead of localh

[2021-11-04 11:19] lanresmith commented on #348
@DavideDelNista I have a small test project on it that works fine; you can kindly [find the zip here](https://drive.google.com/file/d/1eMGGIA90FDZNY5aGlfnovuHJUqHjXfoX/view?usp=sharing).

Like I said earlier:

[2021-11-07 11:20] lanresmith commented on #511
@michael-rs sorry I missed your comment earlier.

Regarding the 1st part of your questions, since you use diviplugins module builder, I'd advise that you speak to them, they probably know better.

As regards enabling responsiveness for a module setting/parameter, you can enable it with mobile_options:

`'mobile_options' => true,`

To render the multi view element, see `render_element()` : https://

[2021-11-09 17:18] mvijay63 opened #521 "Getting console error when trying to edit child module item from front end builder"
### Problem Description

Working on a custom divi extension which has a parent child module.  It is throwing js error when trying to open the edit box by clicking on any child item.  It is working fine when clicked on main parent but not working when I click on any child item.
This is occurring only in latest version of divi theme i.e 4.13. It is working fine in other previous versions.

### Scree

[2021-11-10 00:12] Luke-SF commented on #201
I see this in a completely different Javascript application within Wordpress >5.5.

Uncaught TypeError: can't assign to property "guid" on true: not an object.

It seems it could be related to some sort of Backbone js Wordpress related changes?

[2021-11-17 16:46] #521 closed

[2021-11-23 13:28] hinet2013 opened #522 "@font-face resources are bundled incorrectly"
### Problem Description
When a dependancy of the extention uses his own fonts, those are included in bundle but nor served at runtime (404 error)

### Steps To Reproduce
1. Create a divi extension
2. Add an external dependancy that has a stylesheet that uses his own fonts via @fontface directive
 es. `yarn add slick-carousel`
4. Use the @import directive from a SASS stylesheet of a module, in orde

[2021-11-24 13:27] wgroenewold opened #523 "Where to do responsible disclosure regarding an exploit in Divi"
Hi,

I found an issue with the Divi contactform that exposes e-mailaddresses. Where should I contact you to disclose this?

Sincere,

Wouter Groenewold

[2021-11-24 13:56] snewsh opened #524 "Ajax Calls"
Hi All
I'm trying to get the URL's of an image gallery from a PHP function into React. I can't use Divi's built in Ajax callback function because I need all the URL's of the images to be separate so I can include them into a slider. I know I need to use Ajax but after days of research I'm still no nearer! Basically I need the $items array in jsx.
This is the bones of the PHP file. Hope someone can

[2021-11-26 13:24] snewsh opened #526 "Add Custom Tab to Divi Row and Column Settings"
Is there any documentation on how to add custom tabs to Divi row and column settings as shown below?
Thanks
![NewTab](https://user-images.githubusercontent.com/43791070/143587672-77bebc19-9f47-417b-8fc2-9f2cd42b6a4d.jpg)

[2021-11-30 11:20] CRessl commented on #524
@snewsh you need to use a computed static function in order to get the gallery id's if you use the gallery field provided by divi.

First you need to define in your field the computed affections like this:

[code]

Then you need a definition for the computed method:
[code]

Then finally the method itself where you can fiddle with the returned array for the jsx files. The "$args" are in this case t

[2021-11-30 12:40] snewsh commented on #524
@CRessl Thanks very much for the reply.
I believe that's already pretty much what I've done unless I'm missing something obvious. I can get the gallery image ID's in JSX which I can iterate through but not the image src which is what I need.

[2021-11-30 12:45] CRessl commented on #524
@snewsh you can get the image source via "item.image_src_full" or "item.image_src_thumb" if you use the code above.

Should look something like this:
[code]

[2021-11-30 13:51] snewsh commented on #524
Hi @CRessl
Really appreciate your help but I can't get your code to work. I've stripped out everything else and just used the code provided. Here's the files if you have time to have a quick look to see if there's anything obviously wrong. I just get an error in the VB.
**PHP FILE**
[code]

**JSX File**
[code]
**ERROR**
![Screen Shot 2021-11-30 at 13 46 21](https://user-images.githubusercontent.co

[2021-11-30 15:24] CRessl commented on #524
@snewsh At first glance there seems to be nothing wrong codewise at least.
I checked with my code and the only difference is in the arguments I connected with the computed method.

Maybe outsource the gallery map function in their own function. Like this:

[code]
Otherwise do you have the class imported and exported inside your index.js inside the modules folder?
The next thing I would suggest is

[2021-11-30 15:39] snewsh commented on #524
@CRessl Thanks again for your help. I'll try to get my head around it.

[2021-11-30 19:45] #424 closed

[2021-12-01 07:08] iSoheil opened #527 "Add some Font in Divi-Builder without any plugins or feature in page builder"
Hello dudes, I changed the Divi's child theme with my country region . Now I need to add some custom fonts (For example 3 or more) for Divi-Child theme editor. I don't want to add fonts using editor feature, I need to add fonts like default once.
I don't want to add that fonts any time for every domains. I want to add those like "Arial, Verdana and..." witch as a default will exist when active my

[2021-12-08 00:38] inspiredearth commented on #518
Is anyone at Elegant Themes going to take a look at this?

[2021-12-08 04:27] mattdryer opened #529 "Rest API call to projects endpoint @ https://ourawesomesite.com/wp-json/wp/v2/projects returns blank responses if body content contains more than 8 objects"
### Problem Description
Using the wordpress api to connect to project data worked seamlessly before. If my response data contains more than 8 objects it returns a completely blank body.response but still shows status 200.

### Steps To Reproduce
1.

### Screenshot and/or gif

[2021-12-10 01:33] madegilangaditya opened #530 "npx create-divi-extension not working"
### Problem Description
The build fails when I run `npx create-divi-extension test-extension`

### Steps To Reproduce
1. I use Xampp for local wordpress
2. Node version 16.13.1
3. Yarn version 3.1.1

### Screenshot and/or gif
[code]
Any suggestion will be very appreciated

[2021-12-14 17:34] kuliebiakin opened #531 "API link requires CAPTCHA"
### Problem Description

We are using Composer to install and update Divi on our sites through API link `https://www.elegantthemes.com/api/api_downloads.php?api_update=1&theme=Divi&api_key={%DIVI_API_KEY}&username={%DIVI_USERNAME}` but now it could ask to input CAPTCHA, so, it becomes not possible to use theme in CI/CD.

### Steps To Reproduce
Request API link with e.g. Curl:
[code]
It will return

[2021-12-15 11:05] raiok opened #532 "Production javascript component is not rendered / visible"
### Problem Description
Hi together. I built a component using this project here. To be exact I just took the "Hello world" example and added a "<span>" in the React component.

In edit mode everything looks good. However, when I look at the web page in live/production, the Javascript / React part is not rendered.

The component also loads according to the network and doesn't throw any errors.

Di

[2021-12-20 19:59] devatiq opened #533 "npx create-divi-extension not working"
Hi, i was trying to create a Divi extension from this tutorial https://www.elegantthemes.com/documentation/developers/create-divi-extension/ but showing the following errors https://take.ms/z2AN0C

I'm using MAMP on mac. Other versions are

npm 8.1.4
yarn 3.1.1
node 17.2.0

[2021-12-22 17:23] khushdoms commented on #379
![screenshot-nimbus-capture-2021 12 22-22_47_25](https://user-images.githubusercontent.com/40760722/147130810-874d4671-45a7-4609-b28a-86c8e3c2af88.png)

How can i remove Child Module s Wrapping Div on the JSX side?

i use skeletabs tab layout library for tab and try to retrieve child content want to remove wrapping divs

please help !!

[2021-12-28 02:08] prosenjit2221 opened #535 "I see just object after yarn build command On Local By Flywheel Sites"
### Problem Description

### Steps To Reproduce
1.

### Screenshot and/or gif
<img width="891" alt="Screenshot_14" src="https://user-images.githubusercontent.com/96755944/147519944-08d2de5e-f018-4e56-bfcc-5d61fa4d2b74.png">

[2022-01-13 14:13] msykes opened #537 "Enable a 'compatible' server render mode"
I'm implementing a module that provides an interface to output a shortcode (or the equivalent of one with direct function call) for my plugin. I have it working fine in partial mode, it renders server-side, as it should.

A solution is addressed in #23 , but I find it to be an unnecessary workaround, and request you implement this feature.

I'm asking if it's possible to have some sort of 'AJAX' c

[2022-01-15 18:38] alexandru-burca commented on #290
On mac I get this error only when I run `yarn start` using another port than 3000. So be sure to use the default port, which is 3000.

[2022-01-18 17:27] msykes commented on #5
@rmtux thanks for the additional steps, for me nothing above worked until I ran these two steps:

I'm guessing the npm cache clean did the trick, since I cleared caches on relead before I'm sure.

[2022-01-18 18:07] msykes commented on #69
I hope this helps someone... I've tried all these solutions to no avail. 'yarn build' or 'npm build' works but not the 'yarn start' or 'npm start' functions.

In my case, my issue is I'm using namespacing on my extension and module classes of PHP. I removed namespacing and used long-winded class names, including the prefix of the class as defined in package.json (probably the key part of all this)

[2022-01-23 15:01] msykes commented on #23
@xxtesaxx thanks for your component example, it was helpful and it worked a treat.

there's one minor change to make due to updates to react eventually deprecating [componentWillReceiveProps](https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops), so the solution is to replace it with componentDidUpdate like so:

[code]

[2022-01-24 01:59] ken-afh commented on #5
OK - I fixed it on my system. Change the two lines that define **$hot_bundle_url** and get rid of the **localhost**. Make them look like this:

`$hot_bundle_url = ":3000/static/js/frontend-bundle.js";`

The beginning of my class definition file now looks like this:

[code]

It would be **REALLY GREAT** if ET updated this functionality so it works with current releases of the underlying technology

[2022-02-03 12:51] Abd-Ur-Rehman commented on #533
@devatiq you would have to downgrade the node's version because the maximum that it supports is 14.x.x and with that, it should work fine.

[2022-02-03 12:52] Abd-Ur-Rehman commented on #530
@madegilangaditya I think you are having an issue like this one. https://github.com/elegantthemes/create-divi-extension/issues/533#issuecomment-1028957637

[2022-02-04 05:50] madegilangaditya commented on #530
Thanks man will try downgrade the node version

[2022-02-09 00:37] Lovely-Fellow commented on #413
Hi @xxtesaxx Yes, I've tried esc_html() and $this->process_content, but all same.
But I've found one interesting thing.
After I click ['Save Changes'](https://prnt.sc/26rkqjo) button and reopen the module settings, content is changed to `A &gt; B`(https://prnt.sc/26rks08). So if you click Save Change button again and[ save theme builder](https://prnt.sc/26rkxd5), **A > B** is showing correctly.
I'

[2022-02-09 00:48] Lovely-Fellow opened #539 "Is it possible to get number of child modules in static css(props) of parent module(jsx)?"
### Problem Description
I need to add css using the value calculated by number of child modules in parent module.
I was able to get the number of child module in **render()** function using **this.props.content.length**.
But I can't generate css using this value in render function because there is no way to call **additionalCss.push** as in **static css(props)** function.

So I need one of followi

[2022-02-09 01:39] Lovely-Fellow commented on #539
I've got the idea from the answer of [other issue](https://github.com/elegantthemes/create-divi-extension/issues/90#issuecomment-396077548).
Here is code how I've implemented.

`customCss(props) {
  const additionalCss = [];
  const number_of_child_items = this.props.content.length;
  // Calculate variables using **number_of_child_items**
	// Use same type of code as in static css(props)
  additio

[2022-02-09 01:40] #539 closed

[2022-02-09 08:29] lanresmith commented on #531
Thanks for the request @kuliebiakin! I just want to first state that this isn't our originally intended or supported use of that API endpoint. However, out of curiosity, which CI are you using? How frequent is it running and did it ever work or has it thrown the captcha form the start? I would suspect that its getting blocked for the request potentially occurring too often.

[2022-02-09 16:36] kuliebiakin commented on #531
Hello @lanresmith ,

Yep, I understand that it's not original use of endpoint however we are trying to find better way to handle updates than copying archive or theme itself into project after new Divi releases when using Composer with CI and this method was good before Captcha started to ask to pass security check.

We are using Jenkins and Captcha appears on every request and probably it's a pro

[2022-02-09 21:25] barellano opened #540 "How do you identify a the "et_pb_post_content" module within a CPT?"
### Problem Description
We are basically outputting the_content in our custom template within in a CPT, however, the_content gets duplicated when using the "et_pb_post_content" module in a Theme Layout. We just need to identify when the "et_pb_post_content"  module is being used so we can remove "the_content" from our template.

We are adding out template by hooking into the "et_theme_builder_temp

[2022-02-10 12:09] nanu-c opened #541 "[enhancement] support for node >14"
### Problem Description
this package depends on `elegantthemes/grunt-po2mo#master` which only supports node 12 or 14. Current LTS is 16.

`error grunt-po2mo@0.1.5: The engine "node" is incompatible with this module. Expected version "12.x || 14.x". Got "16.13.1"`
I open this issue here, because https://github.com/elegantthemes/grunt-po2mo has no issues.

### Steps To Reproduce
1. update node
2. ru

[2022-02-11 06:22] bunnyju0 opened #542 "Divi Extensions problem"
### Problem Description
I tried create a Divi Extension but It's not working

I installed nodejs 16.14.0 and yarn 1.22.17

and i tried
![12312312312231412](https://user-images.githubusercontent.com/92170129/153546050-2564ad40-03fe-459c-a285-757476b3ec8e.PNG)
npx create-divi-extension my-extension

And this text appeared
![1312421sdas](https://user-images.githubusercontent.com/92170129/153546077-14

[2022-02-11 08:08] lanresmith commented on #531
Yeah @kuliebiakin, it's great you're innovating and trying this out! But yeah, looks like CloudFlare is stepping in and blocking your request, something we aren't able to prevent. With that, an alternative is you could manually update Divi or within WP interface, and commit the changes in your repo rather than trying to load it dynamically on the fly during CI.

[2022-02-21 15:05] lanresmith commented on #542
@bunnyju0 Could you pls downgrade your Node install to 12.x or 14.x, or more preferably use nvm to install any of those 2?

[2022-02-22 15:07] lanresmith commented on #540
@barellano Could the `ET_Builder_Element::contains` method be what you want? (Kindly see `includes/builder/class-et-builder-element.php` in your Divi folder)

An example usage can be found in `includes/builder/main-structure-elements.php`:
[code]

[2022-02-23 07:46] desmondshowell commented on #432
I have this same issue. @Lovor01, can you please post your full code?

[2022-02-23 08:10] desmondshowell commented on #432
@Lovor01, nevermind. I found the thread in issue #128.

Here is my code for future seekers.

Change "get_ajax_posts" to your function name.

[code]

[2022-02-23 16:40] kuliebiakin commented on #531
Thanks, for your help.

Yeah, currently we are doing something similar by adding zip archive into project and using https://getcomposer.org/doc/05-repositories.md#package-2 to set path where to download.

[2022-02-23 16:40] #531 closed

[2022-02-24 21:22] igniscyan opened #543 "Update the README and Tutorials?"
Am I missing something? File structure doesn't match up to neither the tutorial nor the readme; as they now include an input field. In addition, running the HelloWorld example just spits out function output into the textbox...

[2022-02-28 04:48] rhaseven7h commented on #5
One thing ... remember you can't mix http and https, if you're on debug mode with yarn start, open your wordpress site using http (not https). Otherwise you'll get the error all of you are mentioning, no matter what you do on code (i.e. an https site trying to load http assets).

[2022-03-03 17:53] lanresmith commented on #535
@prosenjit2221 Do you see any errors in the terminal or browser console?

[2022-03-06 03:58] sourovroy opened #545 "Use searchable select field on custom module"
### Problem Description

Could not find any way to use the searchable select field (e.g Module Font has a searchable select field) in the custom module.

### Steps To Reproduce

1. Searchable select field documentation is also not available https://www.elegantthemes.com/documentation/developers/divi-module/defining-module-settings/#field-types

### Screenshot

<img width="457" alt="Screenshot 2022

[2022-03-07 11:39] fred-10git commented on #506
Hi !

Trying to do the same thing here : why recreating all a front-view in PHP when you've done the VB integration in great react ?
That's a pity we can use a simply trick to display directly the react component in front ^^

So I have already found the tutorials you gave, and try to get a similar result in my divi-extension project (but i think it's impossible).
Either my file isn't considered as

[2022-03-08 15:07] lanresmith commented on #545
@sourovroy Could you pls take a look at `includes/builder/frontend-builder/app/components/controls/select-fontstyle/select-fontstyle.jsx` in the Divi folder to see an example of how it's done?

[2022-03-09 06:49] MTaimoor79 opened #546 "pass props value from parent JSX to the child JSX"
### Problem Description
Hi everyone,
I am new here.
Question: Is there any way to pass props value from parent JSX to the child JSX
Thanks in advance

### Steps To Reproduce
1.

### Screenshot and/or gif

[2022-03-10 10:02] lanresmith commented on #546
Hi @MTaimoor79,

Yes, just like the normal way you pass them in React.

[2022-03-10 10:39] MTaimoor79 commented on #546
@lanresmith
In the normal way, we can pass value in the component like

<Child parentToChild={parentToChild}/>

But in my case Content is not a component. Content is an object type.

render() {
    const Content = this.props.content;
    return (
      <div>
          {Content}
      </div>
  );
}

[2022-03-10 21:59] lanresmith commented on #523
Thanks @wgroenewold! Kindly go through our support team chat or you can email the dev team lead directly: [joshronk@gmail.com](mailto:joshronk@gmail.com)

[2022-03-10 22:00] lanresmith commented on #523
Thanks @wgroenewold! Kindly go through our support team chat or you can email the dev team lead directly: joshronk[at]gmail[dot]com

[2022-03-11 17:46] lanresmith commented on #546
@MTaimoor79 The second code block is not really clear to me. Can you pls share more complete code? What's originally contained in `this.props.content`? If `Content` is an object, can you access what you need from it like so:
`{ Content.what_you_need }`

[2022-03-14 10:18] lanresmith commented on #532
@raiok Do you see any errors in your browser console?

[2022-03-14 10:47] lanresmith commented on #529
@mattdryer I've tested with both browser and insomnia and the results are fine. Pls note that it's `project`, not `projects`.

[2022-03-16 13:27] elsalweb commented on #432
Hello @desmondshowell ,

I try your code but it doesn't work. Can you please help me please ?

`
add_filter( 'et_builder_load_requests', function( $builder_load_requests ) {
    $builder_load_requests['action'][] = 'temoignages_query';
    return $builder_load_requests;
});

function temoignages_query() {
    $ids = "5653";
    $return = '[et_pb_blog_extras post_type="temoignage" posts_number="100

[2022-03-21 10:44] MTaimoor79 commented on #454
can we add the background field multiple times?

[2022-03-29 05:56] shahmanish877 opened #550 "Remove styles folder & unused css"
### Problem Description
Everything is working fine but the "create-divi-extension" adds styles folder which I don't want. When I use npm run build, it adds style.css & style.min.css.
How can I remove it? I tried removing frontend.css from asset-manifest.json but it didn't solve it.

Is there any way to remove unused style.min.css & frontend.js in script folder?

[2022-03-30 08:58] FeIix commented on #20
Hi,
Is it possible to use these hook to override the column_structure of a row module ?

I tried to do it with et_pb_all_fields_unprocessed_et_pb_row (not triggered) and et_pb_module_shortcode_attributes,
but nothing has effect.

[code]

Is the doc available somewhere ?

[2022-03-31 09:26] nanu-c commented on #550
In the `package.json` of your plugin change the line `"build": "divi-scripts build",` to `"build": "divi-scripts build&&rm styles/styles*",

[2022-03-31 11:43] mihaai90 opened #552 "Cannot add custom tab in Admin -> new Specialty -> Settings"
For section I used:
add_filter( 'et_pb_all_fields_unprocessed_et_pb_section', 'customSectionFields', 999, 1 );

When I try the same logic to Specialty, nothing appears
add_filter( 'et_pb_all_fields_unprocessed_et_pb_specialty_section', 'customSpecialtyFields', 999, 1 );

[2022-04-01 10:07] AfterglowWeb commented on #490
Same here ! thank you ! Works with Node 12.x, not 14.x for me.

[2022-04-01 13:09] shahmanish877 commented on #550
Thank you @nanu-c, it worked perfectly.

[2022-04-02 20:48] nanu-c commented on #550
node has to be <=14

[2022-04-04 09:35] lanresmith commented on #550
@shahmanish877 What error are you having?

[2022-04-04 09:39] shahmanish877 commented on #550
@lanresmith, 'rm' is not recognized as an internal or external command. And my nose version is 14.x

[2022-04-05 09:29] lanresmith commented on #552
@mihaai90 We don’t have `et_pb_all_fields_unprocessed_et_pb_specialty_section` filter. This is covered by `et_pb_all_fields_unprocessed_et_pb_section`.

[2022-04-05 09:45] lanresmith commented on #550
Oh! OK. @shahmanish877 seems you're on Windows, right? If yes, kindly use `del` instead of `rm`.

[2022-04-13 05:22] ayubadiputra commented on #552
Hi @mihaai90, as @lanresmith said, you can use `et_pb_all_fields_unprocessed_et_pb_specialty_section` filter in this case to cover both of regular and specialty section. For example, the code below will add `Show ABC` field on both of Regular and Specialty sections.

[code]

[2022-04-14 00:21] madjennsy commented on #97
Hi everyone, I would like to know when will this issue be fixed? values are not retained if I add "depends_on" and "depends_show_if" to my module fields after saving the builder. Is there a temporal hack until this issue is fixed?

[2022-04-14 00:36] madjennsy commented on #97
Update on the bug:

If I use both 'depends_show_if' and 'depends_on' values are not retained on save. Although if I use only 'depends_show_if', values are saved.

[2022-04-18 06:14] SRD75 opened #555 "Custom Blog module showing shortcode on the front end."
### Problem Description

I have duplicated the Blog module into a custom Blog-ASC module, using [this tutorial](https://intercom.help/elegantthemes/en/articles/4532734-moving-blog-module-in-child-theme).

In the backend, I can use the Blog-ASC module, but on the front end I don't see the Blog-ASC's content, I see the shortcode.

### Steps To Reproduce

[Here](https://pastebin.com/kzqiGkZD) is my B

[2022-04-18 06:21] SRD75 commented on #555
Debug.log says:

`[18-Apr-2022 05:28:46 UTC] PHP Fatal error:  Uncaught Error: Class 'ET_Builder_Module_Blog_ASC' not found in /home/username/public_html/wp-content/themes/Divi-Steve/functions.php:11`

which refers to line 11:

`$dcfm = new ET_Builder_Module_Blog_ASC(); `

Line 5 of `/Divi-Steve/includes/builder/modules/Blog-ASC.php` is:

`class ET_Builder_Module_Blog_ASC extends ET_Builder_Module

[2022-04-19 08:00] MTaimoor79 commented on #477
@saqibnadeem96 How can be used for show_if?

[2022-04-19 15:50] charles890123 opened #556 "Partial compatibility modules hang out when are first added to the Visual Builder"
### Problem Description
Adding partial compatibility modules for the first time to the Visual Builder prevents saving the post. Reloading the page fixes the issue.

### Steps To Reproduce
- Add the Custom CTA Partial VB module from the divi extensions example repo
- Click Save. The VB loader will hang out and will show on the console. `{
    "name": "MyError",
    "message": "Attempt to construct

[2022-04-23 07:56] SRD75 opened #557 "Custom Blog Module grid layout broken"
### Problem Description

I have created a "Blog-ASC" module, which is a simple duplication of the Blog module with an ascending post order.

It is [active here](https://staging.screeneditors.com.au/about-us/sponsors/).

I've selected the Grid layout, but the content is not displaying in a grid.

### Steps To Reproduce

Create [the Blog-ASC module](https://pastebin.com/70pHiAxx).

Add the following

[2022-04-26 12:01] wgroenewold commented on #523
@lanresmith Thanks, send Josh an e-mail!

[2022-04-29 01:59] pauljeandel commented on #398
Do you have a solution for this at the end ?

[2022-05-10 15:57] dangabriel0308 opened #558 "Can't create a new extension using "16.15.0""
### Problem Description

error grunt-po2mo@0.1.5: The engine "node" is incompatible with this module. Expected version "12.x || 14.x". Got "16.15.0"
error Found incompatible module.

### Screenshot and/or gif

![image](https://user-images.githubusercontent.com/98554967/167671205-a8c507cf-5061-4e20-8139-d504574f8034.png)

[2022-05-10 19:52] racsoh commented on #460
Has there been any fixes, for this?

[2022-05-11 09:40] lanresmith commented on #555
Seems like the filepath should be `Divi-Steve/includes/builder/module/Blog.php` (notice it's 'module' not 'modules' & 'Blog' not 'Blog-ASC') _not_ `Divi-Steve/includes/builder/modules/Blog-ASC.php`.

[2022-05-14 14:52] UmerCheema-WPD opened #562 "Showing Module Shortcode Inside Post Slider"
I have created custom divi module. The  custom module used inside post content . Now when I used Divi Post Slider my custom module shortcode is showing in post slider.

[2022-05-17 06:00] OlgaT commented on #442
https://app.intercom.com/a/apps/hrpt54hy/inbox/inbox/2051160/conversations/46884626994560
![image](https://user-images.githubusercontent.com/7305702/168739712-d724af57-3426-4085-b050-017f3efd741f.png)

[2022-05-23 21:56] lanresmith commented on #562
@UmerCheema-WPD It might be difficult to get what the issue is without some sample code.

Have you ensured that `yarn start` is running in your terminal while you develop?

[2022-05-24 09:02] nanu-c opened #566 "Divi-scripts uses vulnerable packages."
### Problem Description
Divi-scripts uses vulnerable packages.

### Steps To Reproduce
use  npm audit to get the packages

[code]

[2022-05-24 09:05] nanu-c commented on #558
or this one https://github.com/elegantthemes/create-divi-extension/issues/541

[2022-05-25 01:59] SRD75 commented on #557
Hi Folks,

The problem exists [here](https://www.screeneditors.com.au/about-us/sponsors-new/).

I see one div type has no class:

[code]

It should be `<div class="column size-1of3">`.

Help appreciated.

[2022-05-29 06:27] hamzahabib2000 opened #569 "npm run zip and yarn zip is failed ... it is returning errors"
npm run zip and yarn zip is failed ... it is returning errors ... also tried with yarn commands ...
I'm using nvm ... and tried the following node version:
v12.0.0
v13.0.0
v13.14.0
v14.0.0

Built the bundle with browser support for >1%, last 4 versions, Firefox ESR, not ie < 11.
fs.js:125
throw err;
^
Error: EPERM: operation not permitted, symlink 'D:\apachehtdocs\divi\wp-content\plugins\divi3\nod

[2022-05-30 11:44] lanresmith commented on #569
@hamzahabib2000 The error message suggests there's a filesystem or user permission problem. Seems you're on Windows, right? Can you please first run `cmd` as admin & then run `yarn zip`?

[2022-05-31 10:29] snewsh opened #570 "How to pass php variable values to external JS file?"
Hi coding Gurus,

I need to keep the javascript variables in an external Javascript file unique to each instance of my plugin on a page.

I understand that I can use the following code to grab the order number and this works because I can output the number in PHP.
$order = array_reverse( explode( '_', ET_Builder_Element::get_module_order_class( $render_slug ) ) )[0];

I need to be able to pass a P

[2022-06-01 11:13] lanresmith commented on #570
That should be because the variable `slides_view` is being overwritten every time the following snippet is run:
[code]
so, the last value to be assigned is what `slides_view` is eventually equal to since the variable is definitely in the global scope.

How about appending the order to `slides_view` in order to have a unique value for each plugin instance, like so:
[code]
?

Then, maybe you should

[2022-06-02 08:56] florianschommertz opened #571 "The debug constant is automatically set in `wp-config.php` when you run `yarn start`. When you exit out of `yarn start`, the debug constant is removed."
The debug constant is automatically set in `wp-config.php` when you run `yarn start`. When you exit out of `yarn start`, the debug constant is removed.

_Originally posted by @lots0logs in https://github.com/elegantthemes/create-divi-extension/issues/5#issuecomment-560203378_

To adress this:
I'm working on a Mac with MAMP and this did not work - it was not allowed to touch the wp-config.php but i

[2022-06-02 10:23] lanresmith commented on #571
@florianschommertz Can you please run `yarn start --verbose`, perhaps it might show us messages that might point us in the right direction?

[2022-06-02 13:55] S3Ressl commented on #488
Is there any solution now on how to load the css correctly into the admin? After nearly one year, I suspected any form of reply ...

[2022-06-03 10:59] florianschommertz commented on #571
@lanresmith Thank you for your response.
Short answer: no additional output

Long answer:
I made several setups in my ~/ folder with existing and with brand new folders
It works only on my desktop in a folder that I call "localhost" and a map with name "localhost"

All other tries:
I tried yarn run start --verbose
made new installs with and without "npx" (by copying existing DIVI Module Folder wit

[2022-06-05 15:08] umnex opened #572 "Unable to use Jquery UI Autocomplete in divi custom module"
### Problem Description

Hi, I have created a custom divi builder module and I want to use Jquery UI auto complete in it. When i use Jquery Auto complete code, it is giving me this error:
`Uncaught TypeError: $(...).autocomplete is not a function`
Can you guide me how to include jquery ui script in my custom divi builder module?

### Steps To `Reproduce`
1.

### Screenshot and/or gif

[2022-06-06 09:43] lanresmith commented on #572
@umnex

Well, it might not be easy to tell what's causing the error without seeing more code. Typical causes are:

1. Forgetting to enqueue the jQuery UI library
2. Enqueueing the jQuery UI library before the jQuery library (could you please ensure that you specify `jquery` as a dep in the call to `wp_enqueue_script` that you're using to load the jQuery UI script?)
3. Enqueueing the jQuery library

[2022-06-06 10:45] umnex commented on #572
Thanks. I need to understand where to put the enqueue script for Jquery UI.

[2022-06-06 10:46] umnex commented on #572
Shall i do it in custom module PHP file?

[2022-06-06 14:16] umnex opened #573 "Including images in styles.css"
### Problem Description
 I am trying to include images in my style.css located in custom module folder. When module is loaded on frontend (without divi builder, It is looking for the image in static/media directory. Am I doing anything wrong here?

### Steps To Reproduce

In Style.css:

![image](https://user-images.githubusercontent.com/6442718/172178641-a583667c-d324-48bd-8ee2-1aaf280c3641.png)

[2022-06-13 09:14] El-Potato-Slayer opened #574 "Divi Module Development Questions"
Hi there!

I talked to a salesperson yesterday regarding local development with the Divi theme, and he recommended I develop the website live. A couple of questions came to mind afterward.

1. How would I use a terminal to run Node.js commands? I want to develop modules with React but I'm unsure of how a terminal and a code editor would be used in WordPress itself.
2. If I develop modules with Rea

[2022-06-15 19:04] renzocastillo opened #575 "How can I create custom padding and margin options apart from the default module ones?"
### Problem Description
Hey guys I'm quite new here and I want to create a custom padding option and a custom margin option after the default module padding and margin options.

### Steps To Reproduce
1. There are not any steps to replicate this.

### Screenshot and/or gif

![image](https://user-images.githubusercontent.com/21372177/173904825-ac5af3f5-786a-4a19-acff-3b4207bd3d85.png)

[2022-06-16 16:57] renzocastillo commented on #102
Thanks, @xxtesaxx  I am just working on it right now. I already have the custom padding and margin implemented. Basically, I have some inner divs inside a container and each one needs its individual padding and margin. I am able to see the change after the page is loaded but I can't see it in the visual builder. I am using ET_Builder_Element::set_style to render the styles but they will only show

[2022-06-20 07:53] MTaimoor79 opened #576 "Display Conditions is not working in child module"
### Problem Description
**Display Conditions**
Conditions toggle is added by default in my child module but is not working.
Is the child module compatible with Divi Conditions?

### Screenshot and/or gif
![image](https://user-images.githubusercontent.com/89004713/174552317-4824483f-a222-47eb-9bcd-b93454f29c49.png)

[2022-07-05 03:54] mhimon commented on #62
@dreamcoder8 hi, how did you remove the wrapper from JSX?

[2022-07-05 12:12] dreamcoder8 commented on #62
@mhimon - Hi. No, I didn't.

[2022-07-05 21:12] pecknigel opened #578 "Tutorial Out of Date"
### Problem Description
No longer works with the latest LTS of Node, still requiring version 12 or 14.

### Steps To Reproduce
1. Run it with the current LTS version of Node (16).

### Screenshot and/or gif

[2022-07-07 19:20] pecknigel opened #579 "Build Warnings from Outdated Packages"
### Problem Description
Many packages are giving warnings.

### Steps To Reproduce
1. Run the current version of create-divi-extension

### Screenshot and/or gif
<img width="1413" alt="Screenshot 2022-07-07 at 14 24 51" src="https://user-images.githubusercontent.com/5298657/177856103-327caebe-dd30-4f5c-a0d4-f8cd68214f8d.png">

Copy of Output...

yarn add v1.22.19
info No lockfile found.
[1/4] 🔍  R

[2022-07-08 12:56] Uncreative-Dev opened #580 "Support for the experimental syntax 'objectRestSpread' isn't currently enabled"
### Problem Description
I planned to create a module and did that with create-divi-extension. As i wanted to have a new slider module i added swiper.js. When i use the react stuff form that library i get an error message in the build process. See title.

Another problem i have with the frontend.js. The build process minification tends to break the swiper.js for the frontend. Is there a way to chan

[2022-07-11 14:14] lanresmith commented on #574
@El-Potato-Slayer Thanks for your interest in the Divi community :). Firstly, you don't need a live website to develop a custom Divi module; local development is in fact recommended. Please see the following:

- [how to develop a module](https://www.elegantthemes.com/documentation/developers/divi-module/how-to-create-a-divi-builder-module/)
- [how to create a custom field for a module](https://www

[2022-07-13 21:39] renzocastillo commented on #539
@Lovely-Fellow  do you know how can I do this using php? I want to retrieve the quantity of child modules of current parent module

[2022-07-14 02:00] renzocastillo opened #581 "How do I retrieve all created child modules from parent?"
### Problem Description

I have a parent module called 'Form' through which I want to retrieve all of my children's items called 'Form fields'. I want to validate the form field type of each item and the children module equals something then do something at the parent module.
### Steps To Reproduce
1.
I have tried to use self::get_child_modules() but I can't  retrieve the exact output I want

###

[2022-07-19 19:13] UmerCheema-WPD opened #583 "How To Edit Shortcode before render of existing module"
Hi

Is there any hook or any method that help to exclude shortcode before render
Suppose below shortcode render in divi module render function. I want to change shortcode or want to remove shortcode how it will be possible ?

[et_pb_sc shortcode_data1][/et_pb_sc]
[et_pb_sc shortcode_data2][/et_pb_sc]
[et_pb_sc shortcode_data3][/et_pb_sc]

[2022-07-29 12:05] prosenjit2221 opened #584 "Icon render problem"
Can anyone help me to provide  php and jsx code for solving the icon render problem .

### Steps To Reproduce
1.

### Screenshot and/or gif

[2022-08-03 09:50] invictumhr opened #585 "Global module and post_content valute in wp_posts table"
### Problem Description
I need to periodicaly check my wp_posts table, and search all posts with some outdated data. Problem is that my blog has 4000 + posts, and all my posts uses some global modules.

So problem is when I update my global module with new data, it is rendered correctly on my posts containing this global module. But when i open wp_posts, and look at post_content value, there is st

[2022-08-03 23:09] jcdotnet commented on #128
Hello, is there a proper way to inject a Divi Layout from the Divi Library into the Visual Builder currently?

Four years ago we were able to use AJAX (where we retrieved the html thanks to the do_shortcode function and the style thanks to the get_style function, but the layouts did not display correctly because some assets (JS) were not loaded (I guess we can use the init Divi modules functions,

[2022-08-09 06:01] MTaimoor79 commented on #539
@Lovely-Fellow I am also facing the same problem as you faced. did you find any solution?
Thanks in advance

[2022-08-09 10:17] lanresmith commented on #583
@UmerCheema-WPD Do you mean that the shortcodes are showing on the FE, in the browser?

[2022-08-09 10:18] lanresmith commented on #584
@prosenjit2221 Could you please describe the problem in more details?

[2022-08-14 07:14] wm6692 opened #586 "Error creating divi workspace"
### Problem Description
I encountered an error when trying to create the divi extension workspace

### Screenshot and/or gif
[DiviExtensionWorkspaceErrors.txt](https://github.com/elegantthemes/create-divi-extension/files/9332863/DiviExtensionWorkspaceErrors.txt)

[2022-08-16 00:44] FabienCampredon opened #588 "Frontend-bundle.js in production mode"
Hi,

I developed a DIVI extension and used the "Yarn zip" command to get the final version.

But Divi still seems to want to access the old frontend-bundle.js. This creates a Time Out error after 20 seconds.
I don't understand why it doesn't use the frontend-bundle.min.js.

Can you help me solve this problem?

![image](https://user-images.githubusercontent.com/33062714/184759421-a354ad44-f221-49f6

[2022-08-16 07:32] FabienCampredon commented on #588
Hi,

I solve my problem.
In the wp-config.php file, my extension was still in debug mode.

define( 'Extension_DEBUG', true);

[2022-08-20 07:34] kevinvugts opened #589 "Customizing the filterable portfolio module by adding a custom button"
### Problem Description

Hello,

I got a technical question for Karen. I have read your blog post: https://help.elegantthemes.com/en/articles/3175932-moving-portfolio-module-to-child-theme And managed to extend the filterable portfolio by following the steps provided.

However, there is one big problem I am encountering right now. And that is adding custom fields to the extended module.
When addin

[2022-08-27 09:05] wm6692 commented on #586
After several failed attempts at solving this problem, like [these ](https://github.com/sass/node-sass/issues/2433) and [these](https://github.com/felixrieseberg/windows-build-tools/issues/172), I ended up with something that seemed to load the 2017 visual studio build tools, but the create-divi-extension was still trying to use 2019 path related files. I finally ended up finding the [VS Installer

[2022-08-27 09:05] #586 closed

[2022-08-31 12:51] SpaceIgniter commented on #328
CSP is a major issue. Cross-site scripting happens in many WordPress plugins lately. As confirmed by CVE reports on a daily basis.
Please consider looking into this as a high priority. Elegant Themes could be a leader in Theme and web security if effort is given to ensure XSS exploits don't occur.

[2022-09-01 01:47] flomucfa opened #590 "Set DIVI PAGE SETTINGS in REST API WP"
### Problem Description

I am using Wordpress Rest to add new posts to our website. I managed to set it with metadata so that the divi template is directly applied and all parts of my post are set up as intended.
But: By now I didn’t find a proper way to set up the DIVI PAGE SETTINGS (Page Layout / Dot Navigation / Post Title) automatically for the new posts. Is there a way to send this via wordpr

[2022-09-04 22:06] VisionChristianMedia opened #591 "Add Additional Browser Types to Display Conditions"
### Problem Description
We have our own app which contains a custom useragent, but often will also contain the standard browser useragent (eg chrome etc). As a result the conditional display option is detecting that browser and still shows the header.

I have function code which I know works (I used to use it on our old theme). It is as follows:

function isMobileApp() {
if (isset($_SERVER["HTTP_U

[2022-09-05 04:53] NobodyAZ opened #592 "Redundancy, lack of documentation"
I requested through support chat that my issues be addressed by the developer, but Jean wrote:

Regarding development environment queries you can reach out to the dev team from this repo: https://github.com/elegantthemes/create-divi-extension/issues

So here I am, requesting comments regarding the issues explained in my two posts:

### Problem Description

https://repairthebrain.com/divi-extra-bui

[2022-09-07 16:45] snewsh opened #593 "Icons"
I've come across this code for adding icons to buttons. Is there a resource or list showing all defined icons?

'icon'  => 'flip-vertically', // Any svg icon that is defined on ETBuilderIcon component

Thanks

[2022-09-09 08:57] HeyConDev opened #595 "Slider API / Eventhandler"
Hello.
I have got the development-task to build a custom animation in a Text-Field every time when a slide of the divi-slider changed. Could you please point me the right direction to the best javascript eventhandler of the slider?

 I know that the code is minified and its clear that any change, that I would make to the slider wont be update safe. I don't intend to change the existing slider elem

[2022-09-15 15:39] jogeshpi03 opened #596 "Is there any way to use Webpack 5?"
### Problem Description
I am using a third-part plugin, i.e. splidejs. This is where the problem comes.

### Steps To Reproduce
1. Install the package `npm install @splidejs/react-splide`
2. Import the package to the Module - `import { Splide, SplideSlide } from '@splidejs/react-splide';`

### Screenshot and/or gif
[code]

[2022-09-28 15:28] tristanschwenk commented on #596
+1
same error with chart.js

[2022-09-28 15:35] tristanschwenk commented on #580
+1

[2022-10-12 08:03] mariangrgic commented on #490
Hi,

i have same issue, and tried to fix it with downgrading, but still not working..
I am using Vagrant and trying to create extension within vagrant ssh:

![slika](https://user-images.githubusercontent.com/33949984/195285385-852ed0ec-a3b5-4769-af2b-02678b523c12.png)

if i run nodejs -v i have version v12.22.12 but still getting node js version error ..

Thanks!

[2022-10-16 18:38] tqhaas opened #597 "Divi Email Optin - Hubspot integration broken"
### Problem Description
Divi Email Optin Hubspot integration still uses the old, deprecated API. Setting up lists fails with the following error message:  Authorization failed: This hapikey doesn't exist.

### Steps To Reproduce
1. Create a Private APP in Hubspot (as per Divi Email Optin setup instructions)
2. curl -H "Accept: application/json" -H "Content-Type: application/json" https://api.hubap

[2022-10-16 18:44] tqhaas opened #598 "Divi Email Optin - Hubspot integration not GDPR compliant"
### Problem Description
Divi Email Optin for Hubspot does not make use of Hubspot's GDPR features.
Instead of adding a contact to a list in Hubspot, the contact's subscription schould be changed.

API DOC
https://developers.hubspot.com/docs/api/marketing-api/subscriptions-preferences

### Steps To Reproduce
1. Use Divi Email Optin to subscribe to a list in Hubspot
2. In Huspot: check the subscript

[2022-10-20 08:06] mariangrgic opened #599 "Conditionaly change state of yes_no button"
Hi,

i have question regarding changing state of properties..

so there is option to show/hide properties using 'show_if/show_if_not'..

Is there an option to conditionaly change state of propery, so if one toggle is 'off' automatically set other toggle to 'on'

![Divi-YesNo](https://user-images.githubusercontent.com/33949984/196889270-05940f5b-f994-44c5-9cdb-cb0e204c4a9b.png)

from screenshot i w

[2022-10-25 11:33] lanresmith commented on #599
Hi @mariangrgic! Regarding this:

How about just using a field that allows a single selection instead? Like a dropdown:
<img width="422" alt="Screenshot 2022-10-25 at 01 30 21" src="https://user-images.githubusercontent.com/26330390/197754338-57db61c0-c40e-4648-880d-512722670da7.png">

[2022-10-26 05:37] mariangrgic commented on #599
Hi @lanresmith!
Thank you for your reply!

Sure i can use selection dropdown instead, i just wanted to check if there is an option to change state of input (any input type) just like it can show/hide.

BR

[2022-11-02 15:44] iamasharaf opened #601 "Divi post content using ajax"
### Problem Description

I am building custom theme with Divi builder, While building i need to load the post content(which builds using divi builder).
I am able to bring the content and design on front end But the issue is the post content is coming out with divi shortcodes and it's not converting to html just divi shortcodes

### Steps To Reproduce
1.

### Screenshot and/or gif

[2022-11-03 00:38] blurfactor opened #602 "Is there a way to access the Google Map Api variable in a custom plugin?"
### Problem Description
I would like to pull the value of the Google API Key from the field that appears on the Divi -> Theme Options screen, and use the value in a custom plugin. Is there a variable or some way to access the field value in php? Thanks!

[2022-11-03 13:31] blurfactor commented on #602
It looks like I can use this to pull the map script with API key, which does what I need it to.

wp_enqueue_script( 'google-maps-api' );

[2022-11-03 13:31] #602 closed

[2022-11-03 13:49] hrrarya commented on #601
Try out this filter.
[code]
This works in my case. I was trying to get the Divi layouts.

[2022-11-06 19:33] Joe-Simmons-Github opened #604 "How do Extensions worK?"
### Problem Description

Hello, I am building my first application in Java. It is a pet finder website. I am just learning about licensing and the fact that not all code is open source. I was explaining to my instructor that I could build the front of my application using the Divi theme and I got the whoa response. Can you tell what I can and cannot use in terms of coding the front end with the Di

[2022-11-10 16:59] devjennz opened #605 "Bug in tiny_mce fields"
### Problem Description
I wasn't able to retrieve the content of my field using $this->props['desc_text']:

        $module_fields["desc_text"] = [
            'label'           => esc_html__( 'Description', 'et_builder' ),
            'type'            => 'tiny_mce',
            'option_category' => 'basic_option',
            'depends_show_if' => 'on',
            'dynamic_content' => 'text',

[2022-11-13 20:37] UmerCheema-WPD opened #606 "Tiny Mce Field Issue With WordPress 6.1"
I have modify some divi module and add field type tiny_mce. Get custom field content by using filtrer 'et_module_shortcode_output' it was working fine with text and image inside editor but after updating WordPress to 6.1 it sudden stops working and custom field content is empty. I came to know without image custom field have content but with image it completely empty custom field. One more thing w

[2022-11-14 08:08] internationalhouseofdonald commented on #444
I'm still having this same problem almost two years later.

[2022-11-14 08:51] internationalhouseofdonald opened #607 "`yarn start` Webpack Dev Server HMR is incompatible with Docker WordPress HMR"
### Problem Description
Hello 👋

Thank you so much @lots0logs for your continued support here! Your diligence should not go unrewarded. I just wanted to mention that [this lesson from the Developer Docs](https://www.elegantthemes.com/documentation/developers/divi-development-environment/) says to allow WordPress Services to use Port 3000, which is the default Webpack Dev Server port.

**Because of

[2022-11-14 09:10] internationalhouseofdonald commented on #607
On a side note, I noticed that you can start the Webpack Dev Server first and then start the Docker Container using port 3000 and while nothing complains, the result is still the same from my Loom Recording.

[2022-11-15 05:22] ayubadiputra opened #608 "Theme Builder :: Hide/show element depending on specific conditions"
### Problem Description

Asked by [Jan Cafourek](https://dividevs.slack.com/team/U03TT0YCNP4)

I need to hide/show Element defined in Theme Builder depending on specific conditions. I have used et_module_process_display_conditions filter and it works fine on front-end. But now I cannot open the Theme builder, there is some reactjs error complaning about missing the Element i guess ... I filter out

[2022-11-15 05:24] ayubadiputra commented on #608
Answered by [Ayub Adiputra](https://dividevs.slack.com/team/UANB8NRKN)

[@Jan Cafourek](https://dividevs.slack.com/team/U03TT0YCNP4)
 I think you need to add 'render' === $method condition to make sure your custom condition only works on FE. In addition, you also need to check $module::get_theme_builder_layout_type()  to make sure your code only run on TB layouts. For example, the code below will

[2022-11-15 05:28] #608 closed

[2022-11-17 08:48] alex-dimitrovich opened #610 "Re-create Divi Elegantthemes to custom website"
Hello,
I would like to re-create my WordPress site which is a bit more complex because on this site I would like to have a professional opinion on 3 different offers for the website.

Suggestion 1 - NodeJS, NuxtJS+VueJS
Suggestion 2 - ReactJS + NodeJS
Suggestion 3 .NuxtJS + lavarel

Based on your previous experience which combo is great for a subscription site with stripe, custom web pages, a back

[2022-11-24 20:34] ekesto opened #611 "Can't get "npx create-divi-extension my-extension" to work"
### Problem Description

Running `npx create-divi-extension my-extension` currently results in the following output:

[code]

### Steps To Reproduce

Local: v6.5.2
Node: v14.21.1
NPM: 6.14.17
Yarn (via NPM): 3.3.0

I tried the latest LTS version of Node (as described in the [How To Create A Divi Extension](https://www.elegantthemes.com/documentation/developers/create-divi-extension/) tutorial, but

[2022-11-26 21:22] ekesto commented on #541
@nanu-c, can you by chance tell me how to do step 1 in your "Solution" section? How can I include this commit?

I opened an [@issue](https://github.com/elegantthemes/create-divi-extension/issues/611) a couple of days ago, and it might be linked to yours?

Would be amazing to hear from you.. thanks in advance! 🙏✨

[2022-11-29 06:56] ayubadiputra commented on #611
@ekesto Sorry for the late response and for the issue you experienced with.

Unfortunately, it only supports Node 14.x at this moment. Divi builder itself is still using Node 14.x as well as the other ET products like Extra theme and Bloom plugin. So, I will suggest you to use switch to Node 14.x on your project extension.

[2022-11-29 10:23] ekesto commented on #611
@ayubadiputra, thanks for your feedback.

As noted in my post, I did change the versions to the following:

Local: v6.5.2
Node: v14.21.1
NPM: 6.14.17
Yarn (via NPM): 3.3.0

With this setup I get the error described in **Problem Description** above.. Any clue on what that could be?